html,body{ height: 100%;background: #ffecf1 url(../images/bg.jpg); font-size: 16px;}
/*body{ font-size: 12px;}*/
#mn{height:100%; min-width: 240px; min-height: 30rem;}
/*#mn>div{display: none;}*/
#mn>div>h1{ background: #ff1e88; color: #fff; line-height: 2.4rem; font-weight: 500; text-align: center;}
#mn>div>h1:before{ display: block; position: absolute; content: '<';left: .5rem;}

ul{ margin: 0 auto; width: 20rem; overflow: visible; height: auto;}
ul li{ float: left; width: 9rem; height: 9rem; border-radius: 1rem; margin: .55rem 0; border: .2rem solid #ff1e88; background: #fff; overflow: hidden;text-align: center;}
ul li img{ width: 100%;}
ul li:nth-child(2n) { float:right;}
ul li span{ color:#555;}
.start section { padding: 2rem 0; text-align: center;}
.start section img{ width: 50%;}
/*#start ul li.s2,#start ul li.s4{ float: right;}*/
.start ul li.s1{ border-radius: 1rem 3rem 3rem 3rem;}
.start ul li.s2{ border-radius: 3rem 1rem 3rem 3rem;}
.start ul li.s3{ border-radius: 3rem 3rem 3rem 1rem;}
.start ul li.s4{ border-radius: 3rem 3rem 1rem 3rem;}

.prod-cat ul{ padding: 1rem 0;}
.prod-cat li{ height:12.4rem; position: relative;}
.prod-cat li span{ position: absolute; bottom: .2rem; left: 0; width: 100%; z-index: 999;}
.prod-cat li span.w{ color: #fff;}

.prod-list li{ width: 9.6rem; height: auto; margin-bottom: 0; border-radius: 0; border: 1px solid #fff; background:#fff;}
.prod-list li:nth-child(2){ margin-top: 5rem;}
.prod-list li span{ display: block; position: relative; padding-left: .5rem; line-height: 1.8rem; text-align: left;}
.prod-list li span i{ position: absolute; right: .5rem; top: 0; font-style: normal; color: #aaa;}

.game{ height: 100%; background: url(../images/game-bg.png) center 2.4rem no-repeat; background-size: 100%;}
.game .box{ margin-top: 8.5rem;}
.game .rule{position: absolute; top: 4rem; left: 0; width: 1.5rem; color: #fff; line-height: 1.5rem; padding: .5rem 0; text-align: center;
    background: #ff1e88; border: .2rem solid #dc0068; border-left: none; border-top: none; border-radius: 0 .5rem .5rem 0;}
.game ul {}
.game ul .start{ display: block; clear: both; margin:1rem .5rem; text-align: center; background: #20c500; line-height: 2.5rem; color: #fff; border-radius: .3rem; border-bottom: .2rem solid #1aa000;}
.game ul li{ width: 6rem; margin: 0 .28rem; border: none;}
.game ul li:nth-child(2n){float: left;}

.rule{}
.rule section{ width: 20rem; margin: 1rem auto 0; font-size: 1rem; line-height: 1.8rem; color:#403d3e;}
.rule section strong{ font-weight: 500; color: #ff1e88;}
.rule section img{ width: 9rem;}
.rule label{ background: #ff1e88; color: #fff; border-radius: .8rem; padding: 0 .5rem;}
.rule table{ width: 20rem; margin: 1rem auto; border: 1px solid #e3e3e3; border-radius: 1rem; background: rgba(255,255,255,.3);}
.rule table thead td{ font-weight: 500; color: #403d3e; font-size: 1rem; line-height: 1.5rem;}
.rule table td,#rule table th{ color:#7f7d7d;  text-align: center; border: 1px solid #e3e3e3; font-size: .8rem; line-height: 1.5rem;}
.rule table th{ font-weight: 500; font-size: 1rem;}

.homepage section img{ width: 100%;}
.discount section{ background: rgba(255,255,255,.7)}
.discount section img{ width: 100%;}
.discount section p{ text-align: center; line-height: 1.5rem; color:#403d3e;}
.discount ul{ overflow: hidden;}
.discount li{ position: relative; padding-top: 1.4rem; height: auto; border: none; border-radius: 0;}
.discount li img{ width: 8.6rem; overflow: hidden; border-radius: 1rem; border: .1rem solid #ff1e88;}
.discount li:before{ display: block; position: absolute; left: 0; top: 0; content: ''; width: 2.5rem; height: 4rem; background: url(../images/dis-ul-bg.png) no-repeat; background-size: 100%;}
.discount li span{ display: block; padding: .2rem 0; color: #7f7d7d; line-height: 1.2rem; text-align: left; font-size: .9rem;}

@media screen and (max-width: 280px) {html,body{ font-size: 12px;}}
@media screen and (min-width: 280px) and (max-width: 300px) {html,body{ font-size: 13px;}}
@media screen and (min-width: 300px) and (max-width: 320px) {html,body{ font-size: 14px;}#detail .cnt{top: 24.4rem;}}
@media screen and (min-width: 320px) and (max-width: 340px) {html,body{ font-size: 15px;}}
@media screen and (min-width: 340px) and (max-width: 360px) {html,body{ font-size: 16px;}}
@media screen and (min-width: 360px) and (max-width: 370px) {html,body{ font-size: 17px;}#detail .cnt{top: 24rem;}}
@media screen and (min-width: 370px) and (max-width: 380px) {html,body{ font-size: 17px;}#detail .cnt{top: 25rem;}}
@media screen and (min-width: 380px) and (max-width: 400px) {html,body{ font-size: 18px;}#detail .cnt{top: 24.5rem;}}
@media screen and (min-width: 400px) and (max-width: 420px) {html,body{ font-size: 19px;}#detail .cnt{top: 24.15rem;}}
@media screen and (min-width: 420px) and (max-width: 440px) {html,body{ font-size: 20px;}}
@media screen and (min-width: 440px) and (max-width: 460px) {html,body{ font-size: 21px;}}
@media screen and (min-width: 460px) and (max-width: 480px) {html,body{ font-size: 22px;}}
@media screen and (min-width: 480px) and (max-width: 500px) {html,body{ font-size: 23px;}}
@media screen and (min-width: 500px) and (max-width: 520px) {html,body{ font-size: 24px;}}
@media screen and (min-width: 520px) and (max-width: 540px) {html,body{ font-size: 25px;}}
@media screen and (min-width: 540px) and (max-width: 560px) {html,body{ font-size: 26px;}}
@media screen and (min-width: 560px) and (max-width: 580px) {html,body{ font-size: 27px;}}
@media screen and (min-width: 580px) and (max-width: 600px) {html,body{ font-size: 28px;}#detail .cnt{top: 24.5rem;}}
@media screen and (min-width: 1024px) and (max-width: 1280px) {html,body{ font-size: 48px;}#detail .cnt{top: 24rem;}}
@media screen and (min-width: 1280px) and (max-width: 1440px) {html,body{ font-size: 64px;}}

